
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* general reset */ 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}


body{


    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;                      
    flex-direction: column;
    background-image: url(images/pattern-background-desktop.svg);
    

}

@media screen and (max-width:375px){

    .card{
        max-width: 90vw;
    }
    
}



.card{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    width: 450px;
    border: 1px solid black;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}

.hero-img img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

main{

    width: 75%;
    margin-bottom: 30px;
}

main h1{
    padding: 15px 0px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}



.Purchase{

    display: flex;
    width: 80%;
    padding: 15px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    
}

.icon{
    margin-right: 5px;
}

.link{
   margin-left: auto;
   position: relative;
   top: 15px;
   padding-left: 33px;
   font-weight: 700;
  
}
.link a{
    color: hsl(245, 75%, 52%);
   
}



button{

    width: 80%;
    margin: 20px;
    padding: 10px;
    font-weight: 700;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 10px;
}

.cancel{

    margin-bottom: 30px;
    font-weight: 500;
    color:hsl(224, 23%, 55%)
    

}

article{

    font-weight: 500;
    color: hsl(224, 23%, 55%)
}


.link a:hover,
.cancel:hover,
button:hover{

    cursor: pointer;

}